:root {
  --color-config-background: #181818;
  --color-config-page: #2d2d2d;
  --color-config-page-border: #505050;
}

html
{
  background: var(--color-config-background);
}

div.ConfigPage
{
  background: var(--color-config-background);
  flow: horizontal;
  width: 100%%;
  height: 100%%;
}

popup.tooltip
{
  background: #4f6459;
  border: 1px solid #6a6a6a;
  padding: 0.5rem;
  color: #eff0f1;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.8rem;
}

button
{
  color: #eff0f1;
  background: #232728;
  border: 1px solid #55575a;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.8rem;
  padding: 0.2rem;
  min-width: 5rem;
}

button:hover
{
  border: 1px solid #3cafe9;
}

button:active
{
  background: #3cafe9;
}

.tabs {
  display: flex;
  font-size: 0;
}

.tab-button {
  background: #2b2f32;
  border: 1px solid #55575a;
  border-bottom: 1px solid var(--color-config-page-border);
  border-radius: 2px 2px 0 0;
  color: #eff0f1;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.8rem;
  padding: 0.2rem 1.3rem 0.2rem 1.3rem;
  margin: 0;
  position: relative;
  z-index: 2; 
  margin-bottom: -1px;
  min-width: 2rem;
}

.tab-button:hover {
  border: 1px solid #55575a;
  border-bottom: 1px solid var(--color-config-page-border);
}

.tab-button:active {
  background: #2b2f32;
}

.tab-button.active {
  background: var(--color-config-page);
  border-color: var(--color-config-page-border);
  border-bottom: 1px solid var(--color-config-page);
}

.controller-body
{
  background: var(--color-config-page);
  border: 1px solid var(--color-config-page-border);
  width: 100%%;
  height: 100%%;
  flow: horizontal;
  padding: 1em;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.8rem;
  color: #eff0f1;
}

.config-left,
.config-right 
{
  width: 13rem;
}

.config-center
{
  width: 100%%;
}

.input-group 
{
  position: relative;
  background-color: var(--color-config-page);
  border: 1px solid #55575a;
  padding: 1.2rem 0.5rem 0.5rem 0.5rem;
  margin: 0 0 1rem 0;
}

.input-grid-directional {
  text-align: center;
  flow: grid( 1 1, 2 3, 4 4, 5 6, 7 7, 8 8);
  padding: 0.5rem 0 0;
}

.group-title 
{
  position: absolute;
  top: -0.5rem;
  left: 0;
  margin: 0 auto;
  background-color: var(--color-config-page);
  padding: 0 6px;
  font-size: 0.8rem;
  color: #f0f0f0;
}

.input-row
{
  display: inline-block;
  position: relative;
  background-color: var(--color-config-page);
  border: 1px solid #55575a;
  padding: 0.4em 0.2rem 0.2rem 0.2rem;
  border-radius: 2px;
  margin: 0 50%% 0.9rem 50%%;
  width: 50%%;
}

.input-row span
{
  position: absolute;
  top: -0.7rem;
  left: 0;
  margin: 0 auto;
  background-color: var(--color-config-page);
  padding: 0 6px;
  font-size: 0.8rem;
  color: #f0f0f0;
}

.input-row button
{
  min-width: 3.8rem;
  height: 1.4rem;
}

.footer
{
  padding: 0.5rem 0 0;
  text-align: right;
}

#ConfigContents {
  width: 100%%;
  height: 100%%;
  color: #ffffff;
}
