:root {
  --color-notification-background: #181818;
}

html {
  margin: 0;
  padding: 0 7px 14px 7px;
  border: 0;
  overflow: visible;
  width: max-content;
  height: max-content;
  background: transparent;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
}

.notification-panel {
  border-radius: 8px;
  border: none;
  background-color: var(--color-notification-background);
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 1),
    0 12px 12px rgba(0, 0, 0, 0.55);
  overflow: hidden;
  color: #eff0f1;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.9rem;
}

.notification-panel > header {
  width: *;
  flow: horizontal;
  background-color: var(--color-titlebar-background);
  height: window-caption-height;
  margin: 0;
  color: var(--color-titlebar-text);
}

html[data-active="false"] .notification-panel > header {
  background-color: var(--color-titlebar-background-inactive);
}

.notification-panel > header > window-caption {
  display: block;
  line-height: window-caption-height;
  width: *;
  height: *;
  padding: 0 0.75em 0 1.1em;
  font-family: var(--font-ui);
  font-size: 1rem;
  font-weight: 400;
}

.notification-panel > header > window-caption span {
  vertical-align: middle;
}

.notification-panel > header > window-caption img {
  vertical-align: middle;
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.notification-panel > header > window-buttons {
  display: block;
  flow: horizontal;
  width: max-content;
  height: *;
  vertical-align: middle;
}

.notification-panel > header > window-buttons > window-button {
  behavior: clickable;
  display: block;
  height: *;
  width: window-button-width;
  foreground-size: 2em 1.5em;
  foreground-repeat: no-repeat;
  foreground-position: 50% 50%;
  stroke-width: 0;
  fill: var(--color-titlebar-icon);
  transition: background-color linear 100ms;
  padding: 0.25em;
}

html[data-active="false"] .notification-panel > header > window-buttons > window-button {
  fill: var(--color-titlebar-icon-inactive);
}

.notification-panel > header > window-buttons > window-button:hover {
  background: var(--color-titlebar-icon-hover);
}

.notification-panel > header > window-buttons > window-button[role="window-close"] {
  foreground-image: url(icon:window-close);
}

.notification-panel > header > window-buttons > window-button[role="window-close"]:hover {
  background: rgb(232, 17, 35);
  fill: #fff;
}

.notification-body {
  min-width: 22em;
  max-width: 32em;
  margin: 0;
  padding: 1.35em 1.2em 0.75em 1.2em;
}

#NotificationMessage {
  white-space: pre-wrap;
  line-height: 1.4;
}

.footer {
  padding: 0.25em 1.2em 1.1em 1.2em;
  text-align: right;
}

.notification-panel button {
  color: #eff0f1;
  background: #232728;
  border: 1px solid #55575a;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.85rem;
}

.notification-panel button:hover {
  border: 1px solid #3cafe9;
}

.notification-panel button:active {
  background: #3cafe9;
}

.footer button {
  margin-left: 0.5em;
  min-width: 5.5rem;
  height: 2rem;
  padding: 0.4em 1.4em;
}
