[submodule "external/boost"]
	path = external/boost
	url = https://github.com/N3xoX1/boost.git
[submodule "external/mcl"]
	path = external/mcl
	url = https://github.com/N3xoX1/mcl.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/robin-map"]
	path = external/robin-map
	url = https://github.com/Tessil/robin-map
[submodule "external/xbyak"]
	path = external/xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "external/zydis"]
	path = external/zydis
	url = https://github.com/zyantific/zydis
[submodule "external/oaknut"]
	path = external/oaknut
	url = https://github.com/merryhime/oaknut
[submodule "external/zycore"]
	path = external/zycore
	url = https://github.com/zyantific/zycore-c.git
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/libusb"]
	path = external/libusb
	url = https://github.com/libusb/libusb.git
[submodule "external/sirit"]
	path = external/sirit
	url = https://github.com/N3xoX1/sirit.git
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/vulkan-memory-allocator"]
	path = external/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/vulkan_utility_libraries"]
	path = external/vulkan_utility_libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "external/sciterui"]
	path = external/sciterui
	url = https://github.com/N3xoX1/sciterui.git
[submodule "external/tzdb_to_nx"]
	path = external/tzdb_to_nx
	url = https://github.com/lat9nq/tzdb_to_nx.git
[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd
[submodule "external/opus"]
	path = external/opus
	url = https://github.com/xiph/opus.git
[submodule "external/cubeb"]
	path = external/cubeb
	url = https://github.com/mozilla/cubeb.git
[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://github.com/N3xoX1/ffmpeg.git
[submodule "external/libadrenotools"]
	path = external/libadrenotools
	url = https://github.com/bylaws/libadrenotools.git
